/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: white;
  padding: 10px 30px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.brand {
  display: inline-block;
  vertical-align: middle;
  font-family: arial;
  font-weight: 600;
  font-size: 37px;
}

/* main */
main {
  background-color: #f6f7f9;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* container */
.container {
  width: 70%;
  margin: auto;
  border-radius: 5px;
}

/* parte superiore */
.top-section {
  background-color: white;
}

.btn {
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-button {
  background-color: #47adf1;
  width: 70px;
  height: 30px;
  color: white;
  margin-left: 50px;
}

.section-button {
  width: 100px;
  height: 30px;
  color: #c6ccd1;
}

hr {
  border-style: solid;
  color: #f6f8f9;
}

/* parte inferiore */

.bottom-section {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-list {
  margin-left: 50px;
}

ul {
  list-style-type: none;
}
